doctype html
head
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='Shortener demo')
  meta(name='author' content='Dmitriy Falko')
  link(rel='icon' href='https://fezvrasta.github.io/bootstrap-material-design/favicon.ico')

  // Bootstrap core CSS
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons')
  link(rel='stylesheet' href='https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css' integrity='sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX' crossorigin='anonymous')

  // Custom styles for this template
  link(rel='stylesheet' href='short.css')

  title Shortener

form.form-short(action='/' method='post')
  h1.h1.mb-3.font-weight-normal.text-center Shorten your link

  if(message)
    h2.h2.mb-3.font-weight-normal.text-danger.text-center= message
  else if(url)
    a#link.h3.mb-3.font-weight-normal.text-center.text-info(href=url) #{url}
  else
    label.sr-only(for='inputUrl') Link
    input#inputUrl.form-control(type='url' placeholder='google.com' required='' autofocus='' name='url')
    button.btn.btn-lg.btn-primary.btn-block(type='submit') Shorten
    
  p.mt-5.mb-3.text-muted.text-center &copy; 2019